
$primary: #FFC80A;
$secondairy:#000000;
$error:#E1492B;

$boxShadow: 0 4px 8px 0 rgba(0,0,0,0.08);
$boxShadowPrimary: 0 4px 8px 0 rgba(255, 200, 10, .5);

$fontFamily: 'Montserrat', sans-serif;
$darkFontColor: #292929;
$fontColor: #3F4750;
$lightFontColor: #9FA3A7;
$backgroundColor: rgba(234, 234, 234,0.5);
$light: #FFFFFF;
$elementRadius: 5px;
$buttonRadius: 34px;
$cardHeight: 168px;
$cardWidth: 168px;


$tablet-upper: 1024px;
$tablet-lower: 680px;
$mobile-upper: 680px;
$mobile-lower: 0px;


